/Demo/CSerialPortDemoWin32Console/CSerialPortDemoWin32Console/Debug
/Demo/CSerialPortDemoWin32/ipch
/Demo/CSerialPortDemoWin32/CSerialPortDemoWin32/Debug
/Demo/CSerialPortDemoWin32/Debug/CSerialPortDemoWin32.ilk
/Demo/CSerialPortDemoWin32/Debug/CSerialPortDemoWin32.pdb
/Demo/CSerialPortDemoWin32/*.sdf
/Demo/CSerialPortDemoWin32/CSerialPortDemoWin32.sdf
/Demo/Comm/Comm/Debug
/Demo/Comm/ipch
/Demo/Comm/*.sdf
/Demo/Comm/Debug/*.ilk
/Demo/Comm/Debug/*.pdb
/Demo/Comm/Debug
/projects/Windows/VC12/libCSerialPort/Debug
/projects/Windows/VC12/libCSerialPort/ipch
/projects/Windows/VC12/libCSerialPort/libCSerialPort.opensdf
/projects/Windows/VC12/libCSerialPort/libCSerialPort.sdf
/projects/Windows/VC12/libCSerialPort/libCSerialPort.v12.suo
/vsprojects/Windows/VC12/libcserialport/*.sdf
/vsprojects/Windows/VC12/libcserialport/Release
/vsprojects/Windows/VC12/libcserialport/Debug
/vsprojects/Windows/VC12/libcserialport/ipch
/vsprojects/Windows/VC12/libcserialport/*.suo
/vsprojects/Windows/VC12/libcserialport/libcserialport/Debug
/vsprojects/Windows/VC12/libcserialport/libcserialport/Release
/Demo/Comm/Comm/Release
/Demo/Comm/Release/Comm.exp
/Demo/Comm/Release/Comm.lib
/Demo/Comm/Release/Comm.pdb
/Demo/Comm/Comm.opensdf
/Demo/Comm/Comm.v12.suo
/Demo/CommDLL/Debug
/Demo/CommDLL/ipch
/Demo/CommDLL/Comm.opensdf
/Demo/CommDLL/Comm.sdf
/Demo/CommDLL/Comm.v12.suo
/Demo/CommDLL/Comm/libcserialport.lib
/Demo/CommDLL/Comm/CLog4CPP.cpp
/Demo/CommDLL/Comm/CLog4CPP.h
/Demo/CommDLL/Comm/Debug
/Demo/CommDLL/Comm/Release
/Demo/CommDLL/Release/*.dll
/Demo/CommDLL/Release/Comm.exp
/Demo/CommDLL/Release/Comm.lib
/Demo/CommDLL/Release/Comm.pdb
/vsprojects/Windows/VC12/libcserialport/libcserialport.opensdf
/Demo/CSerialPortDemoWin32/Debug/CSerialPortDemoWin32.exp
/Demo/CSerialPortDemoWin32/Debug/CSerialPortDemoWin32.lib
/Demo/CSerialPortDemoWin32/Debug
/Demo/CSerialPortDemoWin32/CSerialPortDemoWin32.v12.suo
/Demo/CSerialPortDemoWin32Console/*.opensdf
/Demo/CSerialPortDemoWin32Console/*.sdf
/Demo/CSerialPortDemoWin32Console/*.suo
/Demo/CSerialPortDemoWin32Console/Debug/CSerialPortDemoWin32Console.exe
/Demo/CSerialPortDemoWin32Console/Debug/*.exp
/Demo/CSerialPortDemoWin32Console/Debug/*.ilk
/Demo/CSerialPortDemoWin32Console/Debug/*.lib
/Demo/CSerialPortDemoWin32Console/Debug/*.pdb
/Demo/CSerialPortDemoWin32Console/ipch/cserialportdemowin32console-48694deb/*.ipch
/Demo/CSerialPortDemoWin32Console/Debug
/Demo/CSerialPortDemoWin32Console/ipch
/lib/Windows/VC12/libcserialport/*.sdf
/lib/Windows/VC12/libcserialport/*
/lib/Windows/VC12/libcserialport/*.opensdf
/lib/Windows/VC12/libcserialport/libcserialport/*.txt
/lib/Windows/VC12/libcserialport/libcserialport/*
/lib/Windows/VC12/libcserialport/libcserialport/*.user
/Demo/Comm/*.suo
